<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<table>
    <tr>
        <td>
            编号
        </td>
    </tr>
    <tr th:each="file,state:${fileList}">
        <td>
            <span th:text="${file.fileName}"></span>
        </td>
    </tr>
    <tr th:each="folder,state:${folderList}">
        <td>
            <span th:text="${folder.folderName}"></span>
        </td>
    </tr>
</table>
</body>
</html>