<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户展示</title>
</head>
<body>
<div align="center">
    <p>
    <h1>欢迎你</h1>
    <span th:text="${session.realname}"></span>
    </p>
</div>
<div align="center" class="table">
    <table class="user_table" border="1" cellspacing="0">
        <tr class="table_header">
            <td>
                编号
            </td>
            <td>
                用户名
            </td>
            <td>
                密码
            </td>
            <td>
                真实姓名
            </td>
            <td>
                操作
            </td>
        </tr>
        <tr th:each="user,state:${userlist}" class="row1">
            <td>
                <span th:text="${user.userId}"></span>
            </td>
            <td>
                <span th:text="${user.username}"></span>
            </td>
            <td>
                <span th:text="${user.password}"></span>
            </td>
            <td>
                <span th:text="${user.realname}"></span>
            </td>
            <td>
                <a th:href="@{delete/(userId=${user.userId})}">删除</a>
            </td>
        </tr>
    </table>
</div>
<div align="center">
    <a th:href="@{/register}">添加</a>
</div>
</body>
</html>